{% extends "main/base.html" %} {% block navbar %}
<a href="{% url 'home' %}" class="nav_link">
	<i class="bx bx-home nav_icon"></i>
	<span class="nav_name">Home</span>
</a>
<a href="{% url 'customers' %}" class="nav_link">
	<i class="bx bx-user nav_icon"></i>
	<span class="nav_name">Customers</span>
</a>
<a href="{% url 'transaction' %}" class="nav_link">
	<i class="bx bx-transfer nav_icon"></i>
	<span class="nav_name">Transaction</span>
</a>
<a href="{% url 'transfer' %}" class="nav_link active">
	<i class="bx bx-money nav_icon"></i>
	<span class="nav_name">Transfer</span>
</a>
<a href="{% url 'register' %}" class="nav_link">
	<i class="bx bx-log-in nav_icon"></i>
	<span class="nav_name">Register user</span>
</a>
{% endblock %} 
{% block title %} <title>Transfer</title> {% endblock %} 

{% block style %}
<style>
	.adjust {
		width: 400px; 
		height: 50px; 
		text-align: center
	}
	.placement {
		padding-left: 5.5rem; 
		padding-right: 1.75rem; 
		margin-bottom: 5rem
	}
	@media screen and (max-width: 767px) {
		.placement {
			padding-left: 0rem; 
			padding-right: 1.75rem; 
			margin-bottom: 5rem
		}
	}
	@media screen and (max-width: 425px) {
		.adjust {
			width: 250px; 
			height: 50px; 
			text-align: center
		}
	}
</style>
{% endblock %}

{% block content %}

<div
	class="container placement"
>
	{% if messages %} {% for message in messages %}
	<div class="alert alert-{{ message.tags }}">{{ message }}</div>
	{% endfor %} {% endif %}
	<div class="row" style="margin-left: 15px">
		<div class="col-md-12" style="height: 500px">
			<div class="card-body">
				<h5
					style="
						display: flex;
						font-size: 46px;
						flex-direction: row;
						flex-wrap: nowrap;
						justify-content: center;
					"
					class="card-title"
				>
					Transfer Funds
				</h5>
				<hr style="margin-left: 12.5%; width: 75%" />
				<div
					style="
						display: flex;
						flex-direction: row;
						flex-wrap: wrap;
						justify-content: center;
					"
				>
					<form
						style="
							display: flex;
							margin-top: 6%;
							flex-direction: column;
							flex-wrap: wrap;
							align-items: center;
						"
						method="POST"
					>
						{% csrf_token %} {% comment %}
						<input
							type="number"
							name="amount"
							step="0.01"
							required=""
							id="id_amount"
							placeholder="Amount to transfer"
						/>
						{% endcomment %}
						<div class="form-group">
							<input
								type="number"
								name="amount"
								step="0.01"
								required=""
								id="id_amount"
								class="form-control adjust"
								placeholder="Amount to transfer"
							/>
						</div>
						<div class="form-group">
							<input
								type="date"
								name="date"
								required=""
								class="form-control adjust"
								id="id_date"
							/>
						</div> 
						<div class="form-group">
							<input
								type="text"
								name="fromUser"
								step="0.01"
								required=""
								id="id_fromUser"
								class="form-control adjust"
								placeholder="Your Name"
							/>
						</div>
						<div
							class="input-group mb-3 adjust"
							>
							<select
								name="toUser"
								class="custom-select adjust"
								id="id_toUser"
							>
								<option selected>Select Customer</option>
								{% for c in customers %}
								<option value="{{c.id}}">{{c.name}}</option>
								{% endfor %}
							</select>
						</div>
						<button
							style="
								display: flex;
								flex-direction: row;
								flex-wrap: nowrap;
								align-items: center;
							"
							class="btn btn-outline-primary"
							type="submit"
						>
							Send<i
								style="margin-left: 6px"
								class="bx bx-send nav_icon"
							></i>
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}
